.resetGame {
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 20px;
    outline: none;
    background-color: rgb(24, 87, 223);
}

.resettWrapper {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}