.gameField {
    padding-left: 30%;
    padding-top: 5rem;
    width: 70%;
}



.cellsWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 20%;
    width: 13rem;
    height: 13rem;
    min-width: 80px;    
}