.header {
    text-align: center;
    font-size: 2rem;
    color: rgb(49, 9, 26)
}


#playersWrapper {
    display: flex;
    justify-content: space-around;
}

.playerOne, .playerTwo {
    padding-top: 2rem;
}
