#playerOne {
    padding: 1rem 3rem;
    border-radius: 16px;
    outline: none;
    font-size: 1rem;
}

#playerTwo {
    padding: 1rem 3rem;
    border-radius: 16px;
    outline: none;
    font-size: 1rem;
}

.save {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    outline: none;
}